<div class="pdg-tips-container">
<!--cmt: top box
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="ttip-pdg">
	<div style="text-align:center"><b>PDG Commerce 5.0</b></div>
	<div style="height:1px;overflow:hidden;border-top:1PX SOLID #C1C1C1;margin-bottom:2px;margin-top:2px"></div>
	<div style="font-size:10px;color:#3366FF"><!---VERSION_INFO---></div>
	<div style="height:1px;overflow:hidden;border-top:1PX SOLID #C1C1C1;margin-bottom:2px;margin-top:2px"></div>
	<div style="font-size:10px; text-align:center">&copy;1997-<!---CURRENT_YEAR---> PDG Software, Inc.</div>
</div>
<div id="ttip-live">Your current settings are live.  Please test your site to ensure they are correct.</div>
<div id="ttip-notlive">Your current settings are <em><b>not</b></em> live.  Click the <em>Make Live</em> in the upper right of your screen to publish your changes.</div>

<!--cmt: Navigation tips ( in order of appearance )
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div id="ttip-dashboard">View statistics and other information.</div>
<div id="ttip-customers">Manage your customer accounts and settings.</div>
<div id="ttip-design">Manage your custom templates, buttons, and site content.</div>
<div id="ttip-discounting">Set up your custom discounting rules.</div>
<div id="ttip-giftcertificates">Manage gift certificate information.</div>
<div id="ttip-order">Manage orders.</div>
<div id="ttip-paymethods">Add, remove and manage your payment methods..</div>
<div id="ttip-products-group">Manage your products and associated categories.</div>
<div id="ttip-quickbooks">Manage QuickBooks settings.</div>
<div id="ttip-search">Setup the display output for product search queries.</div>
<div id="ttip-shipping">Manage your shipping rules and information.</div>
<div id="ttip-support">Get help from PDG.</div>
<div id="ttip-ups">UPS&reg; Features</div>
<div id="ttip-users">Manage who can access commerce and the actions allowed.</div>
<div id="ttip-configuration-grouping">Commerce setup and management sections</div>
<!--cmt: end of tips container
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
</div>