<select id="qsearch" style="width:100%">
	<optgroup label="Products">
	  <option value=0 displaytext="Product by SKU">Product by SKU</option>
	  <option value=1 displaytext="Product by Category">Product by Category</option>
	  <option value=2 displaytext="Product by Description">Product by Description</option>
	 </optgroup>
	<optgroup label="Inventory">
	  <option value=3 displaytext="Inventory by SKU">Inventory by SKU</option>
	  <option value=4 displaytext="Inventory by Category">Inventory by Category</option>
	</optgroup>
	<optgroup label="Order Invoices">
	  <option value=5 displaytext="Order Invoice by Number">Order Invoice by Number</option>
	  <option value=6 displaytext="Order Invoice by User Name">Order Invoice by User Name</option>
	  <option value=7 displaytext="Showing All Orders">Show All Orders</option>
	</optgroup>												
</select>	