<ul id="pdg-navtree" class="pdg-navtree">
	<li><a tipsrc="ttip-dashboard" class="pdg-nitem-dashboard pdgtip1" href="!---MODULE_NAME---?displaymain&configroot=!---CONFIGROOT---" target="main-content">Commerce Dashboard</a></li>										
	<li><a tipsrc="ttip-customers" class="pdg-nitem-customers pdgtip1" href="!---MODULE_NAME---?displaycustomercategories=action&configroot=!---CONFIGROOT---" target="main-content">Customers</a></li>
	<li class="closed"><span tipsrc="ttip-design" class="pdg-nitem-design pdgtip1">Design</span>
		<ul>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaybuttons=action&configroot=!---CONFIGROOT---" target="main-content">Button Settings</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displaycosettings=action&configroot=!---CONFIGROOT---" target="main-content">Company &amp; Page Information</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaydesign=action&configroot=!---CONFIGROOT---" target="main-content">Skins &amp; Themes</a></li>			
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?showallproddisplaylist=action&configroot=!---CONFIGROOT---" target="main-content">Product Display Lists</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaytemplates=action&configroot=!---CONFIGROOT---" target="main-content">Template Settings</a></li>		
														
		</ul>						
	</li>
	<li><a tipsrc="ttip-discounting" class="pdg-nitem-discounts pdgtip1" href="!---MODULE_NAME---?displaydiscounting=action&configroot=!---CONFIGROOT---" target="main-content">Discounting</a></li>
	<li><a tipsrc="ttip-giftcertificates" class="pdg-nitem-certificates pdgtip1" href="!---MODULE_NAME---?displaygiftcert=action&configroot=!---CONFIGROOT---" target="main-content">Gift Certificates</a></li>	
<!--cmt: Orders
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	<li class="closed"><span tipsrc="ttip-order" class="pdg-nitem-orders pdgtip1">Orders</span>
		<ul>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayreportmenu=action&configroot=!---CONFIGROOT---" target="main-content">Orders and Reports</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaymyobsettings=action&configroot=!---CONFIGROOT---" target="main-content">MYOB Settings</a></li>		
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaystoneedgesettings=action&configroot=!---CONFIGROOT---" target="main-content">Stone Edge Settings</a></li>															
		</ul>			
	</li>	
	<li><a tipsrc="ttip-paymethods" class="pdg-nitem-payment pdgtip1" href="!---MODULE_NAME---?displaybillingmethod=action&configroot=!---CONFIGROOT---" target="main-content">Payment Methods</a></li>
<!--cmt: Products
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	<li class="closed"><span tipsrc="ttip-products-group" class="pdg-nitem-products pdgtip1">Product Management</span>
		<ul>			
						<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?!---PRODCAT_DISPLAY_TYPE---=action&configroot=!---CONFIGROOT---" target="main-content">Categories</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?productmanagement=action&configroot=!---CONFIGROOT---" target="main-content">Full Product Listing</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayproductcategoriesinv=action&configroot=!---CONFIGROOT---" target="main-content">Inventory</a></li>	
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaydataxfer=action&configroot=!---CONFIGROOT---" target="main-content">Data Import/Export</a></li>	
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayuserdef=action&configroot=!---CONFIGROOT---" target="main-content">User Defined Field Names</a></li>	
		</ul>														
	</li>
<!--cmt: QuickBooks
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	<li class="closed"><span tipsrc="ttip-quickbooks" class="pdg-nitem-qb pdgtip1">Quickbooks Management</span>
		<ul>		
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayqbmain=action&configroot=!---CONFIGROOT---" target="main-content">Settings and Status</a></li>	
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayqboe=action&configroot=!---CONFIGROOT---" target="main-content">Online Edition (Beta)</a></li>															
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayqbwcsettings=action&configroot=!---CONFIGROOT---" target="main-content">POS using Web Connector</a></li>															
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayqbwcqbfssettings=action&configroot=!---CONFIGROOT---" target="main-content">Financial using Web Connector</a></li>	
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?qbwcdisplaydetails=action&configroot=!---CONFIGROOT---" target="main-content">Web Connector Detail Log</a></li>
		</ul>			
	</li>
	<li><a tipsrc="ttip-search" class="pdg-nitem-search pdgtip1" href="!---MODULE_NAME---?displaysearch=action&configroot=!---CONFIGROOT---" target="main-content">Search Configuration</a></li>
<!--cmt: Shipping
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	<li class="closed"><span tipsrc="ttip-shipping" class="pdg-nitem-shipping pdgtip1">Shipping</span>
		<ul>		
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayshipping=action&configroot=!---CONFIGROOT---" target="main-content">Methods</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayshiptables=weightrules&configroot=!---CONFIGROOT---" target="main-content">Weight Rules</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayshiptables=qtyrules&configroot=!---CONFIGROOT---" target="main-content">Quantity Rules</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayshiptables=subtotalrules&configroot=!---CONFIGROOT---" target="main-content">Subtotal Rules</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayshiptables=allrules&configroot=!---CONFIGROOT---" target="main-content">All Rules (wt,sub,qty)</a></li>
			<!--cmt: Shipping Carriers
			-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
			<li class="closed"><span tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1">Shipping Carriers</span>
				<ul>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayfedexcspuser=action&configroot=!---CONFIGROOT---" target="main-content">FedEx&nbsp;&reg;</a></li>		
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayups=action&configroot=!---CONFIGROOT---" target="main-content">UPS&nbsp;&reg;</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayusps=action&configroot=!---CONFIGROOT---" target="main-content">US Postal Service</a></li>	
																		
				</ul>						
			</li>
		</ul>			
	</li>
	
	<li><a tipsrc="ttip-support" class="pdg-nitem-support pdgtip1" href="!---MODULE_NAME---?displaysupport=action&configroot=!---CONFIGROOT---" target="main-content">Support</a></li>
<!--cmt: UPS Options
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	<li class="closed"><span tipsrc="ttip-ups" class="pdg-nitem-ups pdgtip1">UPS&nbsp;&reg; Options</span>
		<ul>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayupstracking=action&configroot=!---CONFIGROOT---" target="main-content">Tracking</a></li>	
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?scheduleshipment=action&configroot=!---CONFIGROOT---" target="main-content">Schedule Shipment</a></li>	
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?scheduleneworders=action=!---CONFIGROOT---" target="main-content" OnClick="if(confirm('Note, this will delete all your ship labels from previously scheduled orders.  Click [OK] to continue!')){return true;}else{return false;}">Schedule New Orders</a></li>	
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?createneworder=action&configroot=!---CONFIGROOT---" target="main-content">Create Shipment</a></li>	
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayupsaddressvalidation=action&configroot=!---CONFIGROOT---" target="main-content">Validate an Address</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayupsshippedorders=action&configroot=!---CONFIGROOT---" target="main-content">Shipped Orders</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayupsvoid=action&configroot=!---CONFIGROOT---" target="main-content">Void Shipments</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?manageshiplabels=action&configroot=!---CONFIGROOT---" target="main-content">Manage/View Ship Labels</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?showalllabels=action&configroot=!---CONFIGROOT---" target="_blank">Show Labels for Printing</a></li>
		</ul>	
	</li>
	<li><a tipsrc="ttip-users" class="pdg-nitem-users pdgtip1" href="!---MODULE_NAME---?displayadminusers=action&configroot=!---CONFIGROOT---" target="main-content">Users</a></li>
<!--cmt: Configuration
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	<li class="closed"><span tipsrc="ttip-configuration-grouping" class="pdg-nitem-appoptions pdgtip1">Configuration</span>
		<ul>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displayoptions=action&configroot=!---CONFIGROOT---" target="main-content">Commerce Options</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displaydboptions=action&configroot=!---CONFIGROOT---" target="main-content">Database</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displayemail=action&configroot=!---CONFIGROOT---" target="main-content">E-mail</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displayencryption=action" target="main-content">Encryption</a></li>
			<!--cmt: International Options
			-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
			<li class="closed"><span tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1">International Options</span>
				<ul>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayinternational=action&configroot=!---CONFIGROOT---" target="main-content">Settings</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaycountries=action&configroot=!---CONFIGROOT---" target="main-content">Country List</a></li>															
				</ul>						
			</li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?ipblacklist=action&configroot=!---CONFIGROOT---" target="main-content">IP Black List</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displaymaintenance=action&configroot=!---CONFIGROOT---" target="main-content">Maintenance</a></li>
			<!--cmt: Payment Gateways
			-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
			<li class="closed"><span tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1">Payment Gateways</span>
				<ul>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayaim=action" target="main-content">Authorize.Net (AIM)</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaycybersource=action" target="main-content">CyberSource</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displaygooglesettings=action&configroot=!---CONFIGROOT---" target="main-content">Google Checkout</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayviaklix=action" target="main-content">Elavon Virtual Merchant</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayinnovative=action" target="main-content">Innovative Gateway</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaylinkpoint=action" target="main-content">LinkPoint</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaymoneris=action" target="main-content">Moneris</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayipay=action" target="main-content">PayByTouch</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaypaymentnet=action" target="main-content">Payflow</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaypaypal=action" target="main-content">PayPal Payments Standard (IPN)</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaypaypalwebpro=action" target="main-content">PayPal Payments Pro</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaymetacharge=action" target="main-content">PayPoint</a></li>

					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaypsigate=action" target="main-content">PSiGate</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayqbms=action" target="main-content">QuickBooks Merchant Services</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayeftsecure=action" target="main-content">Sage Payment Solutions</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayskipjack=action" target="main-content">SkipJack</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displaytcommerce=action" target="main-content">TrustCommerce</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayepay=action" target="main-content">USA ePay</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon" href="!---MODULE_NAME---?displayworldpay=action" target="main-content">WorldPay</a></li>
					<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon"  href="!---MODULE_NAME---?displayxcharge=action" target="main-content">X-Charge</a></li>									
				</ul>
			</li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displaysalestax=action&configroot=!---CONFIGROOT---" target="main-content">Sales Tax</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displaychangesecret=action&configroot=!---CONFIGROOT---" target="main-content">Secret Phrase</a></li>
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displaysecure=action&configroot=!---CONFIGROOT---" target="main-content">Secure</a></li>		
			<li><a tipsrc="ttip-notip" class="pdg-nitem-noicon pdgtip1" href="!---MODULE_NAME---?displayzones=action&configroot=!---CONFIGROOT---" target="main-content">Zone</a></li>
		</ul>
	</li>		
</ul>



