<table width="100%"><tr><td align="center">
<div id="account-security-inforamtion" style="text-align:left;width:400px;border:solid 1px;background:white;">
<b>General user name and password information</b><br />
User name cannot contain these characters:  !@#$%%^&*()_+=|/<>,.-\:;`~<br />
User name cannot be test or Admin.<br />
User name must be at least 5 characters long.<br />
<br />
Password must be at least 8 characters long.<br />
Password must contain a number or special character.<br />
Password must contain upper and lower case letters.<br />
<br />
Email address must follow email naming conventions (ex. someone@somesite.zone)<br />
<br />
Secret phrase must be at least 16 characters long.<br />
</div>
</td>
</tr>
</table>