.icon-48-slideshows {
      background-image: url(../images/l_slideshows.png);
      padding-left:60px!important;
}

.icon-48-slideshow {
      background-image: url(../images/l_slideshows.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}