<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Baselli</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/font-awesome.min.css">
	<link rel="stylesheet" href="styles/site.css">
</head>
<body>
	<div id="page">
		<header>
			<a href="#" id="logo"><img src="images/logo.png" title="ballseli"></a>
			<div class="container main-menu">
				<div class="row">
					<div class="col-md-12">
						<ul id="main-menu">
							<li><a href="index.html">Home</a></li>
							<li class="parent">
								<a href="collection.html">Collection</a>
								<ul class="sub-menu">
									<li><a href="details-category.html">New Releases</a></li>
									<li><a href="details-category.html">Optical</a></li>
									<li><a href="details-category.html">Sun</a></li>
									<li><a href="details-category.html">Sungglasses</a></li>
									<li><a href="details-category.html">Metal</a></li>
									<li><a href="details-category.html">Acetate</a></li>
									<li><a href="details-category.html">Champagne</a></li>
								</ul>
							</li>
							<li class="active"><a href="#">blog</a></li>
							<li><a href="about-us.html">About us</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
					<button id="toggle-menu">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
			</div>
			<div id="language">
				<span class="current-language">English <i class="fa fa-angle-down"></i></span>
				<ul class="language">
					<li>English</li>
					<li>FRance</li>
					<li>GERMANY</li>
					<li>SPAIN</li>
				</ul>
			</div>
		</header>
		<!-- end header -->
		<section id="content">
			<div class="container">
				<div class="row">
					<div class="blog-views accordion-views">
						<div class="views-content">
							<article>
								<img src="images/img-8.png" alt="about us">
								<div class="post-time col-md-1 col-md-push-2">
									<p>DEC<br/>29</p>
								</div>
								<div class="col-md-7 col-md-push-2">
									<h2 class="article-title"><a href="#">Curabitur mauris ex, cursus id leo a, varius pulvinar tellus. Nunc vestibulum tincidunt finibus. </a></h2>
									<div class="article-body full-node">
										<p>Ut vestibulum urna purus, id porta dolor porta at. Maecenas in sodales enim. Aenean sagittis metus fringilla est dapibus, fringilla vehicula purus finibus. Sed a leo purus. Aliquam quis sodales dui. Maecenas dolor massa, vulputate non urna ac, fermentum tincidunt lectus. Donec sed suscipit orci, vitae fermentum nulla. Phasellus pellentesque semper rutrum. Cras facilisis, ex et dictum consequat, libero magna pharetra magna, ac porta metus orci sit amet felis. Sed ullamcorper risus finibus semper rutrum. Nullam id pretium neque. Aliquam mattis dui sed consequat congue. Suspendisse potenti. Aenean aliquet et risus quis vulputate. Integer volutpat metus et ex sollicitudin posuere.</p>
										<p>Curabitur mauris ex, cursus id leo a, varius pulvinar tellus. Nunc vestibulum tincidunt finibus. Morbi in convallis justo. Aliquam id elementum sapien. Proin sem massa, laoreet sit amet quam nec, accumsan consectetur ex. Ut dapibus pharetra lacus, et consectetur est efficitur vel. Mauris interdum a est quis venenatis. Aliquam mollis erat vitae nisi bibendum facilisis. Donec metus purus, ornare quis ultricies id, euismod ut risus. Aenean vitae lectus lacus. Nulla rhoncus odio ante. Fusce volutpat condimentum vehicula. Fusce placerat a nibh sed porttitor. Nullam pharetra sodales eleifend. Nulla hendrerit est metus, in rhoncus urna bibendum at.</p>
										<p>Nullam ut lorem ante. Vestibulum tincidunt dui in magna ornare venenatis. Donec enim tellus, congue eu eros eu, hendrerit cursus ligula. Donec gravida nibh et erat vestibulum, vitae euismod metus semper. Nulla tempus odio est, vel aliquam nunc faucibus sit amet. Aliquam cursus fermentum scelerisque. Sed tempus in lacus eu sollicitudin. Aenean venenatis, leo vel bibendum sollicitudin, massa sapien hendrerit dui, id molestie massa dui id neque. </p>
										<p>Curabitur mauris ex, cursus id leo a, varius pulvinar tellus. Nunc vestibulum tincidunt finibus. Morbi in convallis justo. Aliquam id elementum sapien. Proin sem massa, laoreet sit amet quam nec, accumsan consectetur ex. Ut dapibus pharetra lacus, et consectetur est efficitur vel. Mauris interdum a est quis venenatis. Aliquam mollis erat vitae nisi bibendum facilisis. Donec metus purus, ornare quis ultricies id, euismod ut risus. Aenean vitae lectus lacus. Nulla rhoncus odio ante. Fusce volutpat condimentum vehicula. Fusce placerat a nibh sed porttitor. Nullam pharetra sodales eleifend. Nulla hendrerit est metus, in rhoncus urna bibendum at.</p>
									</div>
								</div>
							</article>
							<article>
								<img src="images/img-8.png" alt="about us">
								<div class="post-time col-md-1 col-md-push-2">
									<p>DEC<br/>29</p>
								</div>
								<div class="col-md-7 col-md-push-2">
									<h2 class="article-title"><a href="#">Curabitur mauris ex, cursus id leo a, varius pulvinar tellus. Nunc vestibulum tincidunt finibus. </a></h2>
									<div class="teaser">Ut vestibulum urna purus, id porta dolor porta at. Maecenas in sodales enim. Aenean sagittis metus fringilla est dapibus, fringilla vehicula purus finibus. Sed a leo purus.</div>
									<div class="article-body">
										<p>Ut vestibulum urna purus, id porta dolor porta at. Maecenas in sodales enim. Aenean sagittis metus fringilla est dapibus, fringilla vehicula purus finibus. Sed a leo purus. Aliquam quis sodales dui. Maecenas dolor massa, vulputate non urna ac, fermentum tincidunt lectus. Donec sed suscipit orci, vitae fermentum nulla. Phasellus pellentesque semper rutrum. Cras facilisis, ex et dictum consequat, libero magna pharetra magna, ac porta metus orci sit amet felis. Sed ullamcorper risus finibus semper rutrum. Nullam id pretium neque. Aliquam mattis dui sed consequat congue. Suspendisse potenti. Aenean aliquet et risus quis vulputate. Integer volutpat metus et ex sollicitudin posuere.</p>
										<p>Curabitur mauris ex, cursus id leo a, varius pulvinar tellus. Nunc vestibulum tincidunt finibus. Morbi in convallis justo. Aliquam id elementum sapien. Proin sem massa, laoreet sit amet quam nec, accumsan consectetur ex. Ut dapibus pharetra lacus, et consectetur est efficitur vel. Mauris interdum a est quis venenatis. Aliquam mollis erat vitae nisi bibendum facilisis. Donec metus purus, ornare quis ultricies id, euismod ut risus. Aenean vitae lectus lacus. Nulla rhoncus odio ante. Fusce volutpat condimentum vehicula. Fusce placerat a nibh sed porttitor. Nullam pharetra sodales eleifend. Nulla hendrerit est metus, in rhoncus urna bibendum at.</p>
										<p>Nullam ut lorem ante. Vestibulum tincidunt dui in magna ornare venenatis. Donec enim tellus, congue eu eros eu, hendrerit cursus ligula. Donec gravida nibh et erat vestibulum, vitae euismod metus semper. Nulla tempus odio est, vel aliquam nunc faucibus sit amet. Aliquam cursus fermentum scelerisque. Sed tempus in lacus eu sollicitudin. Aenean venenatis, leo vel bibendum sollicitudin, massa sapien hendrerit dui, id molestie massa dui id neque. </p>
										<p>Curabitur mauris ex, cursus id leo a, varius pulvinar tellus. Nunc vestibulum tincidunt finibus. Morbi in convallis justo. Aliquam id elementum sapien. Proin sem massa, laoreet sit amet quam nec, accumsan consectetur ex. Ut dapibus pharetra lacus, et consectetur est efficitur vel. Mauris interdum a est quis venenatis. Aliquam mollis erat vitae nisi bibendum facilisis. Donec metus purus, ornare quis ultricies id, euismod ut risus. Aenean vitae lectus lacus. Nulla rhoncus odio ante. Fusce volutpat condimentum vehicula. Fusce placerat a nibh sed porttitor. Nullam pharetra sodales eleifend. Nulla hendrerit est metus, in rhoncus urna bibendum at.</p>
									</div>
									<a href="javascript:void(0)" class="read-more">Read more</a>
								</div>
							</article>
							<article>
								<img src="images/img-8.png" alt="about us">
								<div class="post-time col-md-1 col-md-push-2">
									<p>DEC<br/>29</p>
								</div>
								<div class="col-md-7 col-md-push-2">
									<h2 class="article-title"><a href="#">Curabitur mauris ex, cursus id leo a, varius pulvinar tellus. Nunc vestibulum tincidunt finibus. </a></h2>
									<div class="teaser">Ut vestibulum urna purus, id porta dolor porta at. Maecenas in sodales enim. Aenean sagittis metus fringilla est dapibus, fringilla vehicula purus finibus. Sed a leo purus.</div>
									<div class="article-body">
										<p><b style="font-size: 18px;">Ut vestibulum urna purus</b>, id porta dolor porta at. Maecenas in sodales enim. Aenean sagittis metus fringilla est dapibus, fringilla vehicula purus finibus. Sed a leo purus. Aliquam quis sodales dui. Maecenas dolor massa, vulputate non urna ac, fermentum tincidunt lectus. Donec sed suscipit orci, vitae fermentum nulla. Phasellus pellentesque semper rutrum. Cras facilisis, ex et dictum consequat, libero magna pharetra magna, ac porta metus orci sit amet felis. Sed ullamcorper risus finibus semper rutrum. Nullam id pretium neque. Aliquam mattis dui sed consequat congue. Suspendisse potenti. Aenean aliquet et risus quis vulputate. Integer volutpat metus et ex sollicitudin posuere.</p>
										<p>Curabitur mauris ex, cursus id leo a, varius pulvinar tellus. Nunc vestibulum tincidunt finibus. Morbi in convallis justo. Aliquam id elementum sapien. Proin sem massa, laoreet sit amet quam nec, accumsan consectetur ex. Ut dapibus pharetra lacus, et consectetur est efficitur vel. Mauris interdum a est quis venenatis. Aliquam mollis erat vitae nisi bibendum facilisis. Donec metus purus, ornare quis ultricies id, euismod ut risus. Aenean vitae lectus lacus. Nulla rhoncus odio ante. Fusce volutpat condimentum vehicula. Fusce placerat a nibh sed porttitor. Nullam pharetra sodales eleifend. Nulla hendrerit est metus, in rhoncus urna bibendum at.</p>
										<p>Nullam ut lorem ante. Vestibulum tincidunt dui in magna ornare venenatis. Donec enim tellus, congue eu eros eu, hendrerit cursus ligula. Donec gravida nibh et erat vestibulum, vitae euismod metus semper. Nulla tempus odio est, vel aliquam nunc faucibus sit amet. Aliquam cursus fermentum scelerisque. Sed tempus in lacus eu sollicitudin. Aenean venenatis, leo vel bibendum sollicitudin, massa sapien hendrerit dui, id molestie massa dui id neque. </p>
										<p>Curabitur mauris ex, cursus id leo a, varius pulvinar tellus. Nunc vestibulum tincidunt finibus. Morbi in convallis justo. Aliquam id elementum sapien. Proin sem massa, laoreet sit amet quam nec, accumsan consectetur ex. Ut dapibus pharetra lacus, et consectetur est efficitur vel. Mauris interdum a est quis venenatis. Aliquam mollis erat vitae nisi bibendum facilisis. Donec metus purus, ornare quis ultricies id, euismod ut risus. Aenean vitae lectus lacus. Nulla rhoncus odio ante. Fusce volutpat condimentum vehicula. Fusce placerat a nibh sed porttitor. Nullam pharetra sodales eleifend. Nulla hendrerit est metus, in rhoncus urna bibendum at.</p>
									</div>
									<a href="javascript:void(0)" class="read-more">Read more</a>
								</div>
							</article>
						</div>
						<div class="pagination">
							<a href="#" class="prev-page"><i class="fa fa-angle-left"></i></a>
							<div class="list-page">
								<a href="#">1</a>
								<a href="#" class="active">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">5</a>
							</div>
							<a href="#" class="next-page"><i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end content -->
		<footer>
			<p>© 2015 BASELLI. All Rights Reserved</p>
			<div class="subscribe">
				<span>SubscribE</span>
				<form action="" id="subscribe">
					<input type="text" placeholder="Type your email...">
					<input type="submit">
					<img class="fa" src="images/icon-send.png" alt="">
					<img class="fa hover" src="images/icon-send-hover.png" alt="">
				</form>
			</div>
			<p class="social">
				<a href="#"><img src="images/facebook.png" alt="facebook"><img class="hover" src="images/facebook-hover.png" alt="facebook"></a>
				<a href="#"><img src="images/twitter.png" alt="twitter"></a>
			</p>
		</footer>
		<!-- end footer -->
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>