<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Baselli</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/font-awesome.min.css">
	<link rel="stylesheet" href="styles/site.css">
</head>
<body>
	<div id="page">
		<header>
			<a href="#" id="logo"><img src="images/logo.png" title="ballseli"></a>
			<div class="container main-menu">
				<div class="row">
					<div class="col-md-12">
						<ul id="main-menu">
							<li><a href="index.html">Home</a></li>
							<li class="parent active">
								<a href="#">Collection</a>
								<ul class="sub-menu">
									<li><a href="details-category.html">New Releases</a></li>
									<li><a href="details-category.html">Optical</a></li>
									<li><a href="details-category.html">Sun</a></li>
									<li><a href="details-category.html">Sungglasses</a></li>
									<li><a href="details-category.html">Metal</a></li>
									<li><a href="details-category.html">Acetate</a></li>
									<li><a href="details-category.html">Champagne</a></li>
								</ul>
							</li>
							<li><a href="blog-v1.html">blog</a></li>
							<li><a href="about-us.html">About us</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
					<button id="toggle-menu">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
			</div>
			<div id="language">
				<span class="current-language">English <i class="fa fa-angle-down"></i></span>
				<ul class="language">
					<li>English</li>
					<li>FRance</li>
					<li>GERMANY</li>
					<li>SPAIN</li>
				</ul>
			</div>
		</header>
		<!-- end header -->
		<section id="content">
			<div class="container">
				<div class="row">
					<div class="collection-views">
						<div class="colection-item full-block">
							<a href="details-category.html">
								<img class="lazy-image" src="images/img-1.png" alt="">
								<p class="button">new arrivals</p>
							</a>
						</div>
						<div class="full-block">
							<div class="colection-item col-2-block">
								<a href="details-category.html">
									<img class="lazy-image" src="images/img-2.png" alt="acetate">
									<p class="button">acetate</p>
								</a>
							</div>
							<div class="colection-item col-2-block">
								<a href="details-category.html">
									<img class="lazy-image" src="images/img-3.png" alt="titanium">
									<p class="button">titanium</p>
								</a>
							</div>
							<div class="colection-item col-2-block">
								<a href="details-category.html">
									<img class="lazy-image" src="images/img-3.png" alt="titanium">
									<p class="button">titanium</p>
								</a>
							</div>
							<div class="colection-item col-2-block">
								<a href="details-category.html">
									<img class="lazy-image" src="images/img-2.png" alt="acetate">
									<p class="button">acetate</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end content -->
		<footer>
			<p>© 2015 BASELLI. All Rights Reserved</p>
			<p class="social">
				<a href="#"><img src="images/facebook.png" alt="facebook"></a>
				<a href="#"><img src="images/twitter.png" alt="twitter"></a>
			</p>
		</footer>
		<!-- end footer -->
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>