<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Baselli</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/font-awesome.min.css">
	<link rel="stylesheet" href="styles/site.css">
</head>
<body>
	<div id="page">
		<header>
			<a href="#" id="logo"><img src="images/logo.png" title="ballseli"></a>
			<div class="container main-menu">
				<div class="row">
					<div class="col-md-12">
						<ul id="main-menu">
							<li class="active"><a href="#">Home</a></li>
							<li class="parent">
								<a href="#">Collection</a>
								<ul class="sub-menu">
									<li><a href="#">New Releases</a></li>
									<li><a href="#">Optical</a></li>
									<li><a href="#">Sun</a></li>
									<li><a href="#">Sungglasses</a></li>
									<li><a href="#">Metal</a></li>
									<li><a href="#">Acetate</a></li>
									<li><a href="#">Champagne</a></li>
								</ul>
							</li>
							<li><a href="#">blog</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<button id="toggle-menu">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
			</div>
			<div id="language">
				<span class="current-language">English <i class="fa fa-angle-down"></i></span>
				<ul class="language">
					<li><a href="#">French</a></li>
					<li><a href="#">GERMAN</a></li>
					<li><a href="#">Italian</a></li>
				</ul>
			</div>
		</header>
		<!-- end header -->
		<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12 slide-product">
						<div class="main-slide">
							<a href="#">
								<h2>2014 c2 new release</h2>
								<p>eddie</p>
								<img src="images/slide-1.jpg" alt="">
							</a>
							<a href="#">
								<h2>2014 c2 new release</h2>
								<p>annette</p>
								<img src="images/slide-2.jpg" alt="">
							</a>
							<a href="#">
								<h2>2014 c2 new release</h2>
								<p>eddie</p>
								<img src="images/slide-3.jpg" alt="">
							</a>
							<a href="#">
								<h2>2014 c2 new release</h2>
								<p>annette</p>
								<img src="images/slide-4.jpg" alt="">
							</a>
							<a href="#">
								<h2>2014 c2 new release</h2>
								<p>eddie</p>
								<img src="images/slide-5.jpg" alt="">
							</a>
							<a href="#">
								<h2>2014 c2 new release</h2>
								<p>annette</p>
								<img src="images/slide-6.jpg" alt="">
							</a>
							<a href="#">
								<h2>2014 c2 new release</h2>
								<p>eddie</p>
								<img src="images/slide-7.jpg" alt="">
							</a>
							<a href="#">
								<h2>2014 c2 new release</h2>
								<p>annette</p>
								<img src="images/slide-8.jpg" alt="">
							</a>
							<a href="#">
								<h2>2014 c2 new release</h2>
								<p>eddie</p>
								<img src="images/slide-9.jpg" alt="">
							</a>
						</div>
						<div class="pagination-category-slide"></div>
					</div>
					<div class="list-product">
						<div class="views-content">
							<div class="col-md-4 product">
								<a href="#" class="thumb">
									<img src="images/product-1.png" alt="" class="lazy-img">
									<img src="images/product-2.png" alt="" class="hover-img">
								</a>
								<h2 class="product-name">
									<a href="#">annette</a>
								</h2>
							</div>
							<div class="col-md-4 product">
								<a href="#" class="thumb">
									<img src="images/product-2.png" alt="" class="lazy-img">
									<img src="images/product-1.png" alt="" class="hover-img">
								</a>
								<h2 class="product-name">
									<a href="#">annette</a>
								</h2>
							</div>
							<div class="col-md-4 product">
								<a href="#" class="thumb">
									<img src="images/product-3.png" alt="" class="lazy-img">
									<img src="images/product-2.png" alt="" class="hover-img">
								</a>
								<h2 class="product-name">
									<a href="#">annette</a>
								</h2>
							</div>
							<div class="col-md-4 product">
								<a href="#" class="thumb">
									<img src="images/product-4.png" alt="" class="lazy-img">
									<img src="images/product-5.png" alt="" class="hover-img">
								</a>
								<h2 class="product-name">
									<a href="#">annette</a>
								</h2>
							</div>
							<div class="col-md-4 product">
								<a href="#" class="thumb">
									<img src="images/product-5.png" alt="" class="lazy-img">
									<img src="images/product-4.png" alt="" class="hover-img">
								</a>
								<h2 class="product-name">
									<a href="#">annette</a>
								</h2>
							</div>
							<div class="col-md-4 product">
								<a href="#" class="thumb">
									<img src="images/product-6.png" alt="" class="lazy-img">
									<img src="images/product-7.png" alt="" class="hover-img">
								</a>
								<h2 class="product-name">
									<a href="#">annette</a>
								</h2>
							</div>
							<div class="col-md-4 product">
								<a href="#" class="thumb">
									<img src="images/product-7.png" alt="" class="lazy-img">
									<img src="images/product-6.png" alt="" class="hover-img">
								</a>
								<h2 class="product-name">
									<a href="#">annette</a>
								</h2>
							</div>
							<div class="col-md-4 product">
								<a href="#" class="thumb">
									<img src="images/product-8.png" alt="" class="lazy-img">
									<img src="images/product-9.png" alt="" class="hover-img">
								</a>
								<h2 class="product-name">
									<a href="#">annette</a>
								</h2>
							</div>
							<div class="col-md-4 product">
								<a href="#" class="thumb">
									<img src="images/product-9.png" alt="" class="lazy-img">
									<img src="images/product-8.png" alt="" class="hover-img">
								</a>
								<h2 class="product-name">
									<a href="#">annette</a>
								</h2>
							</div>
						</div>
						<div class="pagination">
							<a href="#" class="prev-page"><i class="fa fa-angle-left"></i></a>
							<div class="list-page">
								<a href="#">1</a>
								<a href="#" class="active">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">5</a>
							</div>
							<a href="#" class="next-page"><i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end content -->
		<footer>
			<p>© 2015 BASELLI. All Rights Reserved</p>
			<p class="social">
				<a href="#"><img src="images/facebook.png" alt="facebook"></a>
				<a href="#"><img src="images/twitter.png" alt="twitter"></a>
			</p>
		</footer>
		<!-- end footer -->
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>