<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Baselli</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/font-awesome.min.css">
	<link rel="stylesheet" href="styles/site.css">
</head>
<body>
	<div id="page">
		<header>
			<a href="#" id="logo"><img src="images/logo.png" title="ballseli"></a>
			<div class="container main-menu">
				<div class="row">
					<div class="col-md-12">
						<ul id="main-menu">
							<li class="active"><a href="#">Home</a></li>
							<li class="parent">
								<a href="#">Collection</a>
								<ul class="sub-menu">
									<li><a href="#">New Releases</a></li>
									<li><a href="#">Optical</a></li>
									<li><a href="#">Sun</a></li>
									<li><a href="#">Sungglasses</a></li>
									<li><a href="#">Metal</a></li>
									<li><a href="#">Acetate</a></li>
									<li><a href="#">Champagne</a></li>
								</ul>
							</li>
							<li><a href="#">blog</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<button id="toggle-menu">
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
			</div>
			<div id="language">
				<span class="current-language">English <i class="fa fa-angle-down"></i></span>
				<ul class="language">
					<li>English</li>
					<li>FRance</li>
					<li>GERMANY</li>
					<li>SPAIN</li>
				</ul>
			</div>
		</header>
		<!-- end header -->
		<section id="content">
			<div class="breadcrumb">
				<div class="container">
					<div class="row">
						<a href="#">Collection</a>
						<a href="#">Metal</a>
						<span>Amore (<span class="code">BK</span>)</span>
					</div>
				</div>
			</div>
			<div class="details-product">
				<div class="container">
					<div class="row">
						<div class="large-img">
							<img class="lazy-image" src="images/ad-1.jpg" alt="">
						</div>
						<div class="parameter">
							<div class="spec">
								<img src="images/ico-spec-1.png" alt="">
								<span>158</span>
							</div>
							<div class="spec">
								<img src="images/ico-spec-2.png" alt="">
								<span>15</span>
							</div>
							<div class="spec">
								<img src="images/ico-spec-3.png" alt="">
								<span>145</span>
							</div>
							<div class="spec">
								<img src="images/ico-spec-4.png" alt="">
								<span>140</span>
							</div>
							<div class="spec">
								<img src="images/ico-spec-5.png" alt="">
								<span>15</span>
							</div>
						</div>
						<div class="thumb-img">
							<h3><span>views</span></h3>
							<a href="javascript:void(0)" data-img="images/ad-1.jpg" data-id="rgba"><img src="images/thumb/ad-1.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/ad-2.jpg" data-id="rgba"><img src="images/thumb/ad-2.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/ad-3.jpg" data-id="rgba"><img src="images/thumb/ad-3.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/bd-1.jpg" data-id="rgb"><img src="images/thumb/bd-1.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/bd-2.jpg" data-id="rgb"><img src="images/thumb/bd-2.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/bd-3.jpg" data-id="rgb"><img src="images/thumb/bd-3.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/as-1.jpg" data-id="pu"><img src="images/thumb/as-1.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/as-2.jpg" data-id="pu"><img src="images/thumb/as-2.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/as-3.jpg" data-id="pu"><img src="images/thumb/as-3.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/qa-1.jpg" data-id="da"><img src="images/thumb/qa-1.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/qa-2.jpg" data-id="da"><img src="images/thumb/qa-2.jpg" alt="product"></a>
							<a href="javascript:void(0)" data-img="images/qa-3.jpg" data-id="da"><img src="images/thumb/qa-3.jpg" alt="product"></a>
						</div>
						<div class="models">
							<h3><span>Models</span></h3>
							<a href="javascript:void(0)" class="active" data-id="rgba">
								<img src="images/thumb/ad-1.jpg" alt="product">
								<p>rgba</p>
							</a>
							<a href="javascript:void(0)" data-id="rgb">
								<img src="images/thumb/bd-1.jpg" alt="product">
								<p>rgb</p>
							</a>
							<a href="javascript:void(0)" data-id="pu">
								<img src="images/thumb/as-1.jpg" alt="product">
								<p>pu</p>
							</a>
							<a href="javascript:void(0)" data-id="da">
								<img src="images/thumb/qa-1.jpg" alt="product">
								<p>da</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end content -->
		<footer>
			<p>© 2015 BASELLI. All Rights Reserved</p>
			<p class="social">
				<a href="#"><img src="images/facebook.png" alt="facebook"></a>
				<a href="#"><img src="images/twitter.png" alt="twitter"></a>
			</p>
		</footer>
		<!-- end footer -->
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.carouFredSel-6.2.1-packed.js"></script>
	<script type="text/javascript" src="scripts/jquery.lazyimage.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
	<script>
		$('.lazy-image').lazyImage();
	</script>
</body>
</html>