.icon-48-blogs {
      background-image: url(../images/l_blogs.png);
      padding-left:60px!important;
}

.icon-48-blog {
      background-image: url(../images/l_blogs.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}