/* Tab Content - menucool.com */

ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right: 40px; /*distance between tabs*/
}
        
ul.tabs li a
{
    /* font: normal 12px Verdana; */
    text-decoration: none;
    position: relative;
    /* padding: 7px 16px; */
    /* border: 1px solid #CCC; */
    border-bottom-color:#B7B7B7;
    color: #000;
    /* background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x; */
    /* border-radius: 3px 3px 0 0; */
    outline:none;
    font-size: 16px;
    /* text-transform: none !important; */
}
        


div.tabcontents
{
    /* border: 1px solid #B7B7B7; */ padding: 10px 0px;
    background-color:#FFF;
    border-radius: 0 3px 3px 3px;
    border-width: 5px;       border-style:ridge;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}